.masonry-item {
  width: 250px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  display: inline-grid;
}

.masonry-grid {
  margin: auto;
}

#loading-spinner {
  display: flex;
  justify-content: center;
  width: 100%;
}

.loader {
  margin-top: 10px;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #563b1d #0000;
  animation: l1 1s infinite;
}
@keyframes l1 {to{transform: rotate(.5turn)}}
